html, body, section {
	height: 100%;
}

body {
	margin: 0;
}

nav {
    background: #222;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
    
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
}


nav ul li a {
    color: #fff;
    padding: 0 10px;
    line-height: 40px;
}

main {
    height: 100%;
}

section {
	position: relative;
    height: 100%;
}

section div.loading-animation {
	position: absolute;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	top: 50%;
	left: 50%;
}

section:nth-child(1) {
	background: purple;
}

section:nth-child(2) {
	background: orange;
}

section:nth-child(3) {
	background: darkcyan;
}

section:nth-child(4) {
	background: tan;
}