html, body, section {
	height: 100%;
}

body {
	margin: 0;
}

section {
	position: relative;
}

section div.loading-animation {
	position: absolute;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	top: 50%;
	left: 50%;
}

section:nth-child(1) {
	background: purple;
}


section:nth-child(2) {
	background: orange;
}