@import 'mixins.less';

@animation-color:           #fff;
@animtaion-width:           80px;
@animation-duration:        1.6;

@animation-name-01:		loading-01;
@animation-name-02:		loading-02;
@animation-name-03:		loading-03;

.loading-animation {
	height: @animtaion-width;
	width: @animtaion-width;
	position: relative;
    
    &:before,
    &:after {
        .box-sizing(border-box);
    }
}

@import 'loading-animation-01.less';
@import 'loading-animation-02.less';
@import 'loading-animation-03.less';